<div id="particles-js">
  <div class="header">
    <img src="./assets/sachin_image.jpg" alt="Avatar" style="border-radius: 50%;width: 28%;">
      <h1>
        <span class="site-title">        {{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:sachinupadhyay2626@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/sachinupadhyay2626/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/sachin.upadhyay.98/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/sachin-u-545a6593"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Sachin-Upadhyay"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
